<nav id="main_nav">
    <ul>
        <li>
            <a>Events</a>
            <ul>
                <li><a href="#">Create Event</a></li>
                <li><a href="myevents.html">My Events</a></li>
                <li><a href="#">Events I Attend</a></li>
                <li><a href="#">Events I Attended</a></li>
            </ul>
        </li>
        <li>
            <a>Starts At</a>
            <ul>
                <li>
                    <a>Date</a>
                    <ul>
                        <li><input type="date" style="width:100%"></input></li>
                    </ul>
                </li>
                <li>
                    <a>Time</a>
                    <ul>
                        <li><input type="time" style="width:100%"></input></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a>Activity Type</a>
            <ul>
                <li><a>Food</a>
                    <ul>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Mexican</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Hamburger</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Italian</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Israeli</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Sushi</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Viatnamise</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Chinese</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Any</input></li>
                    </ul>
                </li>

                <li><a>Party</a>
                    <ul>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Techno</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Salsa</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Main-Stream</input></li>
                    </ul>
                </li>
                <li><a>Shopping</a>
                    <ul>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Groceries</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Clothes</input></li>
                        <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox"
                                   id="checkbox">Home Decore</input></li>
                    </ul>
                </li>
                <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox" id="checkbox">Movie</input>
                </li>
                <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox" id="checkbox">Going
                    Out</input></li>
                <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox" id="checkbox">Hanging</input>
                </li>
                <li><input onclick="boxChecked($(this));" name="checkbox" type="checkbox" id="checkbox">Hiking</input>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Search</a>
            <ul>
                <li><input type="text" name="search" placeholder="Search.." style="width: 100%;"></input>
                </li>
            </ul>
        </li>
    </ul>
</nav>