/* Header */
.large-header {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    background: #333;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.demo-1 .large-header {
    background-image: url('../img/3.jpg');
}

.demo-2 .large-header {
    background-image: url('../img/2.jpg');
    background-position: center bottom;
    background-size: cover;
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.demo-1 .main-title,

.demo-2 .main-title {
    font-family: 'Clicker Script', cursive;
    font-weight: normal;
    font-size: 8em;
    padding-left: 10px;
    top: 45%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0);
}

.demo-2 .main-title::before {
    content: '';
    width: 20vw;
    height: 20vw;
    min-width: 3.5em;
    min-height: 3.5em;
    background: url(../img/deco.svg) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}


.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width: 768px) {
    .demo-1 .main-title{
        font-size: 3em;
    }

    .demo-2 .main-title {
        font-size: 4em;
    }
}

#excelDataTable tbody{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

#excelDataTable, #cf {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    z-index: 0.5;
    display: block;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border-radius: 30px;

}

#excelDataTable td{
    width: 290px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #dddddd;
}

#excelDataTable th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
    color: white;
    font: 800 25px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
}

#excelDataTable tr{
    background-color: rgba(0, 0, 0, 0.5);
}

#excelDataTable tr:hover{
    background: #b3d4fc;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.button {
    border-radius: 4px;
    background-color: #eee;
    border: black;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@media only screen and (max-width: 760px) and (orientation : landscape) {
    #typesnav { z-index: 100; width: 100%;
        height: 100%;
        position: absolute;
        overflow-y: scroll; }
}


