<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a class="button" href="/eventMe/frontpage/<%=user_id%>">Home</a></li>
        </ul>
    </div>
</nav>