<!-- header bar used in create event and event -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav"><!-- link to home page -->
            <li class="active"><a class="button" style="background-color:black; color:white;"
                                  href="/eventMe/frontpage/<%= user_id %>">Home</a></li>
        </ul>
    </div>
</nav>