<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Examples for creative website header animations using Canvas and JavaScript"/>
    <meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="../../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/component.css"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800|Londrina+Outline' rel='stylesheet'
          type='text/css'>
    <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        .center {
            margin: auto;
            padding: 5px;
            background: black;
            color: white;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        body {
            font: 300 15px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
            background: #333;
            margin: 10px;
        }

        #googleMap {
            width: 100%;
            height: 400px;
        }

        .modal {
            z-index: 20;
        }

        .form-row {
            padding: 5px;
        }

    </style>
</head>
<body>
<div class="container demo-2">
    <div id="large-header" class="large-header" style="background: grey">
        <% include createeventbar %>
        <div id="event-properties" class="center"><!--event creation form-->
            <div class="container-fluid">
                <form id="event-form" action="/eventMe/addOpenEvent/<%= user_id %>" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Event Name:</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="email" class="form-control" id="inputEmail4" name="Activity_name"
                                   placeholder="Event Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4" id="time-polled">Date & Time</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="button" class="form-control" id="Today" value="Today"
                                   style="background-color: black; color: white"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="button" class="form-control" id="Tommorow" value="Tommorow"
                                   style="background-color: black; color: white"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="button" class="form-control" id="Morning" value="Morning"
                                   style="background-color: black; color: white"/>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="button" class="form-control" id="Noon" value="Noon"
                                   style="background-color: black; color: white"/>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="button" class="form-control" id="Evening" value="Evening"
                                   style="background-color: black; color: white"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                        </div>
                        <div class="form-group col-md-8">
                            <input class="form-control" type="datetime-local" name="Activity_time" id="event-time"
                                   style="display:inline-block"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Location: </label>
                            <label for="inputPassword4" id="location-polled">(default - current location)</label>
                            <input type="text" name="google-location" id="location" class="form-control"
                                   style="display:none"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="button" class="form-control" id="Activity_location" value="Click here"
                                   onclick="ChooseLocation()" style="background-color: black; color: white"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <input type="button" class="form-control" value="Select your event type:(optional)"
                                   data-toggle="collapse" data-target="#demo" id="Type_selection"
                                   style="background-color: black; color: white"/>
                            <div id="demo" class="collapse">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                           style="color: white;">Food</a>
                                        <ul class="dropdown-menu">
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Food"
                                                                                      value="">Food</label></li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox"
                                                                                      id="Food_Hamburger" value="">Hamburger</label>
                                            </li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Food_Italian"
                                                                                      value="">Italian</label></li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Food_Israeli"
                                                                                      value="">Israeli</label></li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Food_Sushi"
                                                                                      value="">Sushi</label></li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox"
                                                                                      id="Food_Viatnamise" value="">Viatnamise</label>
                                            </li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Food_Chinese"
                                                                                      value="">Chinese</label></li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Food_Other"
                                                                                      value="">Other</label></li>
                                        </ul>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                           style="color: white;">Party</a>
                                        <ul class="dropdown-menu">
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Party"
                                                                                      value="">Party</label></li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Party_Techno"
                                                                                      value="">Techno</label></li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Party_Salsa"
                                                                                      value="">Salsa</label></li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox"
                                                                                      id="Party_MainStream" value="">MainStream</label>
                                            </li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Party_Other"
                                                                                      value="">Other</label></li>
                                        </ul>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                           style="color: white;">Shopping</a>
                                        <ul class="dropdown-menu">
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox" id="Shopping"
                                                                                      value="">Shopping</label></li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox"
                                                                                      id="Shopping_Groceries" value="">Groceries</label>
                                            </li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox"
                                                                                      id="Shopping_Clothes" value="">Clothes</label>
                                            </li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox"
                                                                                      id="Shopping_HomeDecore" value="">HomeDecore</label>
                                            </li>
                                            <li><label class="checkbox-inline"><input style="width: 20px"
                                                                                      type="checkbox"
                                                                                      id="Shopping_Other" value="">Other</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                           style="color: white;">Entertainment</a>
                                        <ul class="dropdown-menu">
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Entertainment"
                                                            value="">Entertainment</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Entertainment_Movie"
                                                            value="">Movie</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox"
                                                            id="Entertainment_Concert" value="">Concert</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox"
                                                            id="Entertainment_Stand_up_show" value="">Stand-up
                                                    show</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Entertainment_Other"
                                                            value="">Other</label></li>
                                        </ul>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                           style="color: white;">Sports</a>
                                        <ul class="dropdown-menu">
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Sports" value="">Sports</label>
                                            </li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Sports_Soccer"
                                                            value="">Soccer</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Sports_Basketball"
                                                            value="">Basketball</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Sports_Football"
                                                            value="">Football</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Sports_Handball"
                                                            value="">Handball</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Sports_Tennis"
                                                            value="">Tennis</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Sports_Jogging"
                                                            value="">Jogging</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Sports_Training"
                                                            value="">Training</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Sports_Athletics"
                                                            value="">Athletics</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Sports_Other"
                                                            value="">Other</label></li>
                                        </ul>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                           style="color: white;">Adventure</a>
                                        <ul class="dropdown-menu">
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Adventure" value="">Adventure</label>
                                            </li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Adventure_Hiking"
                                                            value="">Hiking</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Adventure_Road_trip"
                                                            value="">Road-Trip</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Adventure_Diving"
                                                            value="">Diving</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Adventure_Ski"
                                                            value="">Ski</label></li>
                                            <li><label class="checkbox-inline" style="width: 150px"><input
                                                            style="width: 20px" type="checkbox" id="Adventure_Other"
                                                            value="">Other</label></li>
                                        </ul>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="checkbox-inline" style="width: 150px"><input style="width: 30px"
                                                                                                   type="checkbox"
                                                                                                   id="Other" value="">Other</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" style="padding: 5px">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input class="form-control" type="hidden" name="categories">Description (optional):</input>
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control" placeholder="Description" name="description">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md"
                             style="margin-left:auto; margin-right: auto; overflow-y: scroll;">
                            <input type="button" id="poll" onclick="Poll()" value="Poll!" class="form-control"
                                   style="background-color: black; color: white"/>
                            <div id="poll-modal" style="display:none">
                                <div class="modal-content" style="color:black">
                                    <div id="poll">
                                        <label class="checkbox-inline" style="width: 150px"><input type="checkbox"
                                                                                                   id="location-cb"
                                                                                                   style="width: 20px"/>Location</label><br>
                                        <div>
                                            <input type="button" id='location-options' onclick="ChooseLocation()"
                                                   style="display:none" value="Choose Locations" class="form-control"/>
                                            <input type="hidden" id="locations-list"/>
                                        </div>
                                        <label class="checkbox-inline" style="width: 150px"><input type="checkbox"
                                                                                                   id="time-cb"
                                                                                                   style="width: 20px"/>Time
                                            & Date</label>
                                        <div id="time-options"></div>
                                        <label class="checkbox-inline" style="width: 150px"><input type="checkbox"
                                                                                                   id="free-poll-cb"
                                                                                                   style="width: 20px"/>Another</label>
                                        <div id="free-poll-options" style="display: none;">
                                            Poll Question:<input type="text" id="free-poll-question"/><br>
                                            Options: <br>
                                            <input type="text" name="free-poll-option"/><br>
                                            <input type="text" name="free-poll-option"/><br>
                                            <input class="form-control" type="button" id="free-poll-button"
                                                   onclick="AddFreePollOptions()" value="Add more options!"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" style="padding: 2px">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <input type="button" id="Create" onclick="CreateEvent()" value="Create!"
                                   class="form-control"
                                   style="background-color: coral; color: darkred; border-color: darkred"/>
                        </div>
                    </div>
                    <div class="form-row" style="padding: 30px">
                    </div>
                </form>
            </div>

            <!-- Google Maps modal-->
            <div id="maps-modal" class="modal" style="display:none;">
                <!-- Modal content -->
                <div class="modal-content"
                     style="width: 50%; margin-left:auto; margin-right: auto; overflow-y: scroll; ">
                    <span class="close">Confirm</span>
                    <input id="pac-input" class="controls" type="text" placeholder="Enter Location Here"
                           style="left:0px"/>
                    <div style="z-index: 1;" id="googleMap"></div>
                    <!--<input type="text" class="form-control" name="google-location" style="display:none"/>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Related demos -->
</div><!-- /container -->
<script>
    var map;
    var markers = [];
    var location_poll = [];

    $(document).ready(function () {
        //----Set onclick functions for time&date buttons-------
        var today = document.getElementById('Today');
        var tommorow = document.getElementById('Tommorow');
        var morning = document.getElementById('Morning');
        var noon = document.getElementById('Noon');
        var evening = document.getElementById('Evening');
        today.onclick = function () {
            var date = new Date();
            var time = document.getElementById('event-time').value;
            if (time != "")//if time is specified already,do not change it
            {
                date.setHours(parseInt(time.split('T')[1].split(':')[0]) + 2);//takes -2 for some reason
                date.setMinutes(parseInt(time.split('T')[1].split(':')[1]));
            }
            SetDate(date);
        }
        tommorow.onclick = function () {
            var date = new Date();
            var time = document.getElementById('event-time').value;
            if (time != "") {
                date.setHours(parseInt(time.split('T')[1].split(':')[0]) + 2);
                date.setMinutes(parseInt(time.split('T')[1].split(':')[1]));
            }
            var day = date.getDate();
            var month = date.getMonth();
            var year = date.getFullYear();
            if (month == 11 && day == 31) //end of year
            {
                date.setFullYear(year + 1);
                date.setMonth(0);
                date.setDate(1);
            }
            else if ((day == 31 && (month == 0 || month == 2 || month == 4 || month == 6 || month == 7 || month == 9)) || (day == 30 && (month == 3 || month == 5 || month == 8 || month == 10)))//end of month,does not include Dec.(end of year) or Feb.(special case)
            {
                date.setDate(1);
                date.setMonth(month + 1);
            }
            else if (month == 1 && day == 28) {
                if (year % 4 == 0) {
                    if (year % 100 == 0) {
                        if (year % 400 != 0)//feb. has 28 days
                        {
                            date.setDate(1);
                            date.setMonth(2);
                        }
                        else {
                            date.setDate(29);
                        }
                    }
                    else {
                        date.setDate(29);
                    }
                }
            }
            else if (month == 1 && day == 29) {
                date.setDate(1);
                date.setMonth(2);
            }
            else//not end of month,year
            {
                date.setDate(day + 1);
            }
            SetDate(date);
        }
        morning.onclick = function () {
            var time = document.getElementById('event-time').value;
            if (time == "")//if time&date is not specified,set default date for today's date
            {
                time = new Date();
                time = time.toISOString();
            }
            var date = parseISOString(time);
            date.setHours(11);
            date.setMinutes(0);
            SetDate(date);
        }
        noon.onclick = function () {
            var time = document.getElementById('event-time').value;
            if (time == "") {
                time = new Date();
                time = time.toISOString();
            }
            var date = parseISOString(time);
            date.setHours(17);
            date.setMinutes(0);
            SetDate(date);
        }
        evening.onclick = function () {
            var time = document.getElementById('event-time').value;
            if (time == "") {
                time = new Date();
                time = time.toISOString();
            }
            var date = parseISOString(time);
            date.setHours(23);
            date.setMinutes(0);
            SetDate(date);
        }

    });

    //Set date&time in input field
    function SetDate(date) {
        var time = document.getElementById('event-time');
        var isodate = date.toISOString();
        time.value = isodate.substring(0, isodate.length - 8);//remove sec and millisec
    }

    //Parse ISO formatted string to Date object
    function parseISOString(s) {
        var b = s.split(/\D+/);
        return new Date(Date.UTC(b[0], --b[1], b[2], b[3], b[4], 0, 0));
    }

    //var location;
    function ChooseLocation() {
        // Get the modal
        var modal = document.getElementById('maps-modal');

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        modal.style.display = "block";
        google.maps.event.trigger(map, 'resize');

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            if (LocationPollCheck() && !window.confirm('Save changes?')) {
                document.getElementById('locations-list').value = "";
                location_poll = [];
                for (var i = 0; i < markers.length; i++)
                    markers[i].setMap(null);
            }
            else if (LocationPollCheck()) {
                document.getElementById('locations-list').value = JSON.stringify(location_poll);
                //.alert(JSON.stringify(location_poll));
            }
            modal.style.display = "none";
        }
    }

    function SelectType() {
        //change button label
        var but = document.getElementById("Type_selection");
        but.value = (but.value == "Click here") ? "Close list" : "Click here";
        //toggle list view
        var list = document.getElementById("activity-type");
        list.style.display = (list.style.display == "none") ? list.style.display = "inline" : list.style.display = "none";
    }

    //Google Maps function
    function initMap(event) {
        $(document).ready(function () {
            // ----- MAP CREATION -------
            var location_no_poll = document.getElementsByName("google-location")[0];
            var default_location = {lat: 32.07005626883245, lng: 34.79411959648132};
            location_no_poll.value = '(32.07005626883245,34.79411959648132)';
            map = new google.maps.Map(document.getElementById('googleMap'), {
                zoom: 15,
                center: default_location,
            });

            //---MARKER CREATION ----
            var marker = new google.maps.Marker({
                position: default_location,
                map: null,
                icon: 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FE7569'
            });
            if (!LocationPollCheck()) {
                marker.setMap(map);
            }
            //----- SEARCH BAR CREATION -----
            //--creation--
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            // ------ GET CURRENT LOCATION ------
            var Location = new Promise(function (resolve, reject) {
                //Get current location using geolocation service
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        resolve(JSON.stringify(pos));
                    });
                }

            });
            Location.then(function (result) {
                //Adjust map
                result = JSON.parse(result);
                map.setCenter(result);
                if (!LocationPollCheck()) {
                    marker.setPosition(result);
                    marker.setMap(map);
                    location_no_poll.value = "(" + result.lat + ", " + result.lng + ')';
                }
                google.maps.event.trigger(map, "resize");
            });

            //-------------- CHANGE LOCATION ON CLICK ------
            google.maps.event.addListener(map, 'click', function (event) {
                var loc = event.latLng;
                if (!LocationPollCheck()) {
                    marker.setPosition(loc);
                    marker.setMap(map);
                    location_no_poll.value = loc;
                    for (i = 0; i < markers.length; i++) {
                        markers[i].setMap(null);
                    }
                    location_poll = [];
                }
                else {
                    if (window.confirm('Choose this location?')) {
                        if (markers.length > 16)
                            window.alert('You have reached maximal number of locations');
                        else {
                            var newMarker = new google.maps.Marker({
                                position: loc,
                                map: map,
                                icon: 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FFFFFF',
                            });
                            markers.push(newMarker);
                            marker.setMap(null);
                            location_no_poll.value = "";
                            location_poll.push(loc + " ");
                        }
                    }
                }
                map.setCenter(loc);
                google.maps.event.trigger(map, "resize");
            });

            //-------------- SEARCH BAR HANDLING --------------------
            //--response to user choice--
            //var markers = [];
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                    return;
                }
                //get details of each place
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    // Create a marker for each place.
                    if (LocationPollCheck()) {
                        if (window.confirm('Choose this location?')) {
                            if (markers.length > 16)
                                window.alert('You have reached maximal number of locations');
                            else {
                                markers.push(new google.maps.Marker({
                                    map: map,
                                    icon: 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FFFFFF',
                                    title: place.name,
                                    position: place.geometry.location

                                }));
                                marker.setMap(null);
                                location_poll.push(place.geometry.location + " ");
                                location_no_poll.value = "";
                            }
                        }
                    }
                    else {
                        marker.setPosition(place.geometry.location);
                        marker.setMap(map);
                        location_no_poll.value = place.geometry.location;
                        location_poll.value = "";
                        for (i = 0; i < markers.length; i++) {
                            markers[i].setMap(null);
                        }
                    }
                    map.setCenter(place.geometry.location);
                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
        });
    }

    /*function handleLocationError() {
        window.alert("We have a problem fetching your location.Please check it and try again later.");
    }*/

    function LocationPollCheck() {
        return ($('#location-cb').is(':checked'));
    }

    function Poll() { // Get the modal
        var modal = document.getElementById('poll-modal');
        var button = document.getElementById('poll');

        // When the user clicks the button, open the modal
        modal.style.display = (modal.style.display == "none") ? "block" : "none";
        button.value = (button.value == "Poll!") ? "Close" : "Poll!";


        $(document).ready(function () {
            //-----Hide relevant elements when poll checkboxes are checked-----------
            $("#location-cb").click(function () {
                    $("#Activity_location").toggle(!this.checked);
                    p = document.getElementById('location-polled');
                    p.innerHTML = (p.innerHTML == "Under poll") ? "(Current location will be taken as default)" : "Under poll";
                    $('#location-options').toggle(this.checked);

                }
            )
            $('#time-cb').click(function () {
                $('#event-time').toggle(!this.checked);
                p = document.getElementById('time-polled');
                p.innerHTML = (p.innerHTML == "Date and time: Under poll") ? "Date and time" : "Date and time: Under poll";
                $('#time-options').toggle(this.checked);
                $('#Today').toggle(!this.checked);
                $('#Tommorow').toggle(!this.checked);
                $('#Morning').toggle(!this.checked);
                $('#Noon').toggle(!this.checked);
                $('#Evening').toggle(!this.checked);
                var add_options = document.getElementById('add-options');
                if (add_options == undefined) {
                    var but = document.createElement('input');
                    but.type = 'button';
                    but.onclick = AddDateAndTime;
                    but.value = 'Add more options!';
                    but.id = 'add-options';
                    $('#time-options').append(but);
                    document.getElementById('event-time').value = "";
                    AddDateAndTime();
                }
            })

            $('#free-poll-cb').click(function () {
                $('#free-poll-options').toggle(this.checked);
            })


        });

    }

    //Add date and time objects,used for date and time polls
    function AddDateAndTime() {
        $("<input type=datetime-local name='time-poll-option'/>").insertBefore($('#add-options'));
        $("<input type=datetime-local name='time-poll-option'/>").insertBefore($('#add-options'));
    }

    //Same here for free polls
    function AddFreePollOptions() {
        $("<input type=text name='free-poll-option'/>").insertBefore($('#free-poll-button'));
        $("<br>").insertBefore($('#free-poll-button'));
    }

    //Time validation function
    function ValidateTime(time) {
        var chosen = parseISOString(time);
        var current = new Date();
        if (chosen.getTime() - current.getTime() < 3540000) return 0;//a gap of approx. 1 hour is enforced here
        return 1;
    }


    //----------Validate all fields,submit if everything is okay--------------
    function CreateEvent() {
        var location_under_poll = ($('#location-cb').is(':checked')) ? 1 : 0;
        var time_under_poll = ($('#time-cb').is(':checked')) ? 1 : 0;
        var polls_valid = 1; //1 iff polls are valid - at least 2 options
        var all_fields_set = 1;
        var polls = [];
        var query = 'input[name="Activity_name"]';
        //Check location and time fields if they aren't under poll
        if (!location_under_poll) {
            query += ',input[name="google-location"]';
        }
        if (!time_under_poll)
            query += ',input[name="Activity_time"]';
        //Look up for all elements that aren't optional
        var form_input = document.querySelectorAll(query);
        for (i = 0; i < form_input.length; i++) {
            //if any of them is empty
            if (form_input[i].value == "") {
                all_fields_set = 0;
            }
        }

        //Look for checkboxes,make sure at least one is chekced
        var cblist = document.querySelectorAll('input[type="checkbox"]:checked');
        var str = "";
        for (i = 0; i < cblist.length; i++) {
            //concatenate all category checked boxes to a string
            if (cblist[i].id != "location-cb" && cblist[i].id != "time-cb" && cblist[i].id != "free-poll-cb") {
                str += "," + cblist[i].id;
            }
        }
        if (str.length == 0)//type was not chosen,'Other' set as default
        {
            str = " Other"; //whitespace is to fit with the next line
        }
        document.getElementsByName("categories")[0].value = str.substring(1, str.length);

        //Validate polls
        if (location_under_poll) {
            var locations = document.getElementById('locations-list').value;
            var res = JSON.parse(locations);
            if (res.length < 2) {
                polls_valid = 0;
            }
        }

        if (time_under_poll) {
            var all_options = document.getElementsByName('time-poll-option');
            if (all_options.length < 2) {
                polls_valid = 0;
            }
            else {
                var count = 0;
                for (var i = 0; i < all_options.length; i++) {
                    if (all_options[i] == undefined) {
                        polls_valid = 0;
                        break;
                    }
                    if (all_options[i].value != "") {
                        count++;
                    }
                    for (var j = i + 1; j < all_options.length; j++) {
                        if (all_options[j] == undefined) {
                            polls_valid = 0;
                            break;
                        }
                        if (all_options[j].value == all_options[i].value && all_options[i].value != "") {
                            window.alert("Poll options must be different!");
                            polls_valid = 0;
                            break;
                        }
                    }
                }
                if (count < 2) polls_valid = 0;
            }
        }


        if ($('#free-poll-cb').is(':checked')) {
            var all_options = document.getElementsByName('free-poll-option');
            if (all_options.length < 2) {
                polls_valid = 0;
            }
            else {
                var count = 0;
                for (var i = 0; i < all_options.length; i++) {
                    if (all_options[i] == undefined) {
                        polls_valid = 0;
                        break;
                    }
                    if (all_options[i].value != "") {
                        count++;
                    }
                    for (var j = i + 1; j < all_options.length; j++) {
                        if (all_options[j] == undefined) {
                            polls_valid = 0;
                            break;
                        }
                        if (all_options[j].value == all_options[i].value && all_options[i].value != "") {
                            window.alert("Poll options must be different!");
                            polls_valid = 0;
                            break;
                        }
                    }
                }
                if (count < 2) polls_valid = 0;
            }
        }

        //Look up for a picture
        /*var file=document.getElementsByName("picture")[0].value;
        if(file!="") //If field isn't empty
        {
            var format=file.split(".")[1];
            if(format!="png" && format!="jpg") { //make sure format is okay
                window.alert("Picture format is not valid");
                all_fields_set = 0;
            }
        }*/

        //Validate chosen date(s)
        {
            var flag = 1;
            if (time_under_poll) {
                var dates = document.getElementsByName('time-poll-option');
                dates.forEach(function (item, index) {
                    if (!ValidateTime(item.value)) flag = 0;
                });
            }
            else {
                var date = document.getElementById('event-time');
                if (!ValidateTime(date.value)) {
                    flag = 0;
                }
            }
            if (!flag) {
                all_fields_set = 0;
                window.alert("You have chosen an invalid date(s).");
            }
        }


        //If everything is okay submit form, err otherwise
        var poll_questions = [];
        if (all_fields_set == 1 && polls_valid) {
            window.alert("Event created successfully!");
            var poll_counter = 0;
            if ($('#location-cb').is(':checked')) {
                polls.push(JSON.parse(document.getElementById('locations-list').value));
                poll_counter++;
                poll_questions.push("Where should we go?");
            }

            if ($('#time-cb').is(':checked')) {
                var options = document.getElementsByName('time-poll-option');
                var values = [];
                for (var i = 0; i < options.length; i++)
                    if (options[i].value != "")
                        values.push(options[i].value);
                polls.push(values);
                poll_counter++;
                poll_questions.push("When is the best time for us?");
            }

            if ($('#free-poll-cb').is(':checked')) {
                var options = document.getElementsByName('free-poll-option');
                var values = [];
                for (var i = 0; i < options.length; i++)
                    if (options[i].value != "")
                        values.push(options[i].value);
                polls.push(values);
                poll_questions.push(document.getElementById('free-poll-question').value);
                poll_counter++;
            }
            var poll_1_length = (polls[0] == undefined) ? 0 : polls[0].length;
            var poll_2_length = (polls[1] == undefined) ? 0 : polls[1].length;
            var poll_3_length = (polls[2] == undefined) ? 0 : polls[2].length;

            var poll_1 = JSON.stringify(polls[0]);
            var poll_2 = JSON.stringify(polls[1]);
            var poll_3 = JSON.stringify(polls[2]);

            $("<input type='hidden' name='poll1' value='" + poll_1 + "' />").insertBefore($('#Create'));
            $("<input type='hidden' name='poll2' value='" + poll_2 + "' />").insertBefore($('#Create'));
            $("<input type='hidden' name='poll3' value='" + poll_3 + "' />").insertBefore($('#Create'));
            $("<input type='hidden' name='poll1_length' value='" + poll_1_length + "' />").insertBefore($('#Create'));
            $("<input type='hidden' name='poll2_length' value='" + poll_2_length + "' />").insertBefore($('#Create'));
            $("<input type='hidden' name='poll3_length' value='" + poll_3_length + "' />").insertBefore($('#Create'));
            $("<input type='hidden' name='poll1_question' value='" + poll_questions[0] + "' />").insertBefore($('#Create'));
            $("<input type='hidden' name='poll2_question' value='" + poll_questions[1] + "' />").insertBefore($('#Create'));
            $("<input type='hidden' name='poll3_question' value='" + poll_questions[2] + "' />").insertBefore($('#Create'));
            $('<input type="hidden" name="poll_counter" value="' + poll_counter + '"/>').insertBefore($('#Create'));

            document.getElementById("event-form").submit();
        }
        else if (polls_valid) {
            window.alert("Please fill all non-optional fields.");
        }
        else {
            window.alert("Polls require at least 2 options");
        }
    }
</script>
<!-- Import Google Maps -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu3KurWBoVaFCgz3J6jjoYcnmIVY2i6B0&libraries=places&callback=initMap"></script>
<!--Import jQuery-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="../../js/TweenLite.min.js"></script>
<script src="../../js/EasePack.min.js"></script>
<script src="../../js/rAF.js"></script>
<script src="../../js/getstarted.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
</script>
<script type="text/javascript"
        src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
</script>
<script type="text/javascript"
        src="https://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
</script>
<script type="text/javascript"
        src="https://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
</script>
</body>
</html>
