<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Food
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Food" value="">Food</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Food_Mexican"
                                                                                   value="">Mexican</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Food_Hamburger"
                                                                                   value="">Hamburger</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Food_Italian"
                                                                                   value="">Italian</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Food_Israeli"
                                                                                   value="">Israeli</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Food_Sushi"
                                                                                   value="">Sushi</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Food_Viatnamise" value="">Viatnamise</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Food_Chinese"
                                                                                   value="">Chinese</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Food_Other"
                                                                                   value="">Other</label></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Party
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Party"
                                                                                   value="">Party</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Party_Techno"
                                                                                   value="">Techno</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Party_Salsa"
                                                                                   value="">Salsa</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Party_MainStream" value="">MainStream</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Party_Other"
                                                                                   value="">Other</label></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shopping
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Shopping"
                                                                                   value="">Shopping</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Shopping_Groceries" value="">Groceries</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Shopping_Clothes" value="">Clothes</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Shopping_HomeDecore" value="">HomeDecore</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Shopping_Other"
                                                                                   value="">Other</label></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entertainment
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Entertainment"
                                                                                   value="">Entertainment</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Entertainment_Movie" value="">Movie</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Entertainment_Concert"
                                                                                   value="">Concert</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Entertainment_Stand_up_show"
                                                                                   value="">Stand-up show</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Entertainment_Other" value="">Other</label>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sports
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Sports"
                                                                                   value="">Sports</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Sports_Soccer"
                                                                                   value="">Soccer</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Sports_Basketball" value="">Basketball</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Sports_Football" value="">Football</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Sports_Handball" value="">Handball</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Sports_Tennis"
                                                                                   value="">Tennis</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Sports_Jogging"
                                                                                   value="">Jogging</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Sports_Training" value="">Training</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Sports_Athletics" value="">Athletics</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Sports_Other"
                                                                                   value="">Other</label></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Adventure
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Adventure"
                                                                                   value="">Adventure</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Adventure_Hiking" value="">Hiking</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Adventure_Road_trip" value="">Road-Trip</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Adventure_Diving" value="">Diving</label>
                    </li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Adventure_Ski"
                                                                                   value="">Ski</label></li>
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox"
                                                                                   name="Adventure_Other" value="">Other</label>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Other
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><label class="checkbox-inline" style="width: 150px"><input style="width: 20px"
                                                                                   onclick="boxChecked($(this));"
                                                                                   type="checkbox" name="Other"
                                                                                   value="">Other</label></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>