<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Food
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">

                    <a href="LinkURL" target="_blank">
                        <label><input type="checkbox" name="link2" value="link">Text two</label>
                    </a>
                    <li><input onclick="boxChecked($(this));" name="Food_Hamburger" type="checkbox"
                               id="checkbox">Hamburger</input></li>
                    <li><input onclick="boxChecked($(this));" name="Food_Italian" type="checkbox"
                               id="checkbox">Italian</input></li>
                    <li><input onclick="boxChecked($(this));" name="Food_Israeli" type="checkbox"
                               id="checkbox">Israeli</input></li>
                    <li><input onclick="boxChecked($(this));" name="Food_Sushi" type="checkbox"
                               id="checkbox">Sushi</input></li>
                    <li><input onclick="boxChecked($(this));" name="Food_Viatnamise" type="checkbox"
                               id="checkbox">Viatnamise</input></li>
                    <li><input onclick="boxChecked($(this));" name="Food_Chinese" type="checkbox"
                               id="checkbox">Chinese</input></li>
                    <li><input onclick="boxChecked($(this));" name="Food_Other" type="checkbox"
                               id="checkbox">Other</input></li>
                    <li><a href="#boxChecked();" id="checkbox" type="checkbox">Page 1-1</a></li>
                    <li><a href="#"><label><input type="checkbox" name="link2" value="link">Text two</input></label></a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>