<nav id="main_nav">
    <ul>
        <li>
            <a>Events</a>
            <ul>
                <li><a href="/eventMe/createevent/<%= user_id %>">Create Event</a></li>
                <li><a href="/eventMe/myownevents/<%= user_id %>">My Own Events</a></li>
                <li><a href="/eventMe/eventsiattend/<%= user_id %>">">Events I Attend</a></li>
            </ul>
        </li>
        <li>
            <a>Starts At</a>
            <ul>
                <li>
                    <a>Date</a>
                    <ul>
                        <li><input type="date" style="width:100%"></input></li>
                    </ul>
                </li>
                <li>
                    <a>Time</a>
                    <ul>
                        <li><input type="time" style="width:100%"></input></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a>Activity Type</a>
            <ul>
                <li><a>Food</a>
                    <ul>
                        <li><input onclick="boxChecked();" name="Food_Mexican" type="checkbox"
                                   id="checkbox">Mexican</input></li>
                        <li><input onclick="boxChecked($(this));" name="Food_Hamburger" type="checkbox"
                                   id="checkbox">Hamburger</input></li>
                        <li><input onclick="boxChecked($(this));" name="Food_Italian" type="checkbox"
                                   id="checkbox">Italian</input></li>
                        <li><input onclick="boxChecked($(this));" name="Food_Israeli" type="checkbox"
                                   id="checkbox">Israeli</input></li>
                        <li><input onclick="boxChecked($(this));" name="Food_Sushi" type="checkbox"
                                   id="checkbox">Sushi</input></li>
                        <li><input onclick="boxChecked($(this));" name="Food_Viatnamise" type="checkbox"
                                   id="checkbox">Viatnamise</input></li>
                        <li><input onclick="boxChecked($(this));" name="Food_Chinese" type="checkbox"
                                   id="checkbox">Chinese</input></li>
                    </ul>
                </li>

                <li><a>Party</a>
                    <ul>
                        <li><input onclick="boxChecked($(this));" name="Party_Techno" type="checkbox"
                                   id="checkbox">Techno</input></li>
                        <li><input onclick="boxChecked($(this));" name="Party_Salsa" type="checkbox"
                                   id="checkbox">Salsa</input></li>
                        <li><input onclick="boxChecked($(this));" name="Party_MainStream" type="checkbox"
                                   id="checkbox">Main-Stream</input></li>
                    </ul>
                </li>
                <li><a>Shopping</a>
                    <ul>
                        <li><input onclick="boxChecked($(this));" name="Shopping_Groceries" type="checkbox"
                                   id="checkbox">Groceries</input></li>
                        <li><input onclick="boxChecked($(this));" name="Shopping_Clothes" type="checkbox"
                                   id="checkbox">Clothes</input></li>
                        <li><input onclick="boxChecked($(this));" name="Shoppinf_HomeDecore" type="checkbox"
                                   id="checkbox">Home Decore</input></li>
                    </ul>
                </li>
                <li><input onclick="boxChecked($(this));" name="Movie" type="checkbox"
                           id="checkbox">Movie</input></li>
                <li><input onclick="boxChecked($(this));" name="GoingOut" type="checkbox" id="checkbox">Going
                    Out</input></li>
                <li><input onclick="boxChecked($(this));" name="Hanging" type="checkbox" id="checkbox">Hanging</input>
                </li>
                <li><input onclick="boxChecked($(this));" name="Hiking" type="checkbox"
                           id="checkbox">Hiking</input></li>
            </ul>
        </li>
        <li>
            <a href="#">Search</a>
            <ul>
                <li><input type="text" id="txt_name" name="search" placeholder="Search.."
                           style="width: 100%;"></input>
                    <button onclick="displaysearch()">Submit</button>
                </li>
            </ul>
        </li>
    </ul>
</nav>