<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Starts At</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="nav-item" >
                        <a>Date</a>
                        <ul>
                            <li class="nav-item"><input id="date" type="date" style="width:100%"></input></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a>Time</a>
                        <ul>
                            <li class="nav-item"><input id="time" type="time" style="width:100%"></input></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <button onclick="displaytime()">Get Time</button>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activity Type</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activity Type</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item" ><input onclick="boxChecked();" name="Food_Mexican" type="checkbox"
                                       id="checkbox">Mexican</input></li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item" ><input onclick="boxChecked($(this));" name="Food_Hamburger" type="checkbox"
                                       id="checkbox">Hamburger</input></li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item" ><input onclick="boxChecked($(this));" name="Food_Italian" type="checkbox"
                                       id="checkbox">Italian</input></li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item" ><input onclick="boxChecked($(this));" name="Food_Israeli" type="checkbox"
                                       id="checkbox">Israeli</input></li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item" ><input onclick="boxChecked($(this));" name="Food_Sushi" type="checkbox"
                                       id="checkbox">Sushi</input></li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item" ><input onclick="boxChecked($(this));" name="Food_Viatnamise" type="checkbox"
                                       id="checkbox">Viatnamise</input></li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item" ><input onclick="boxChecked($(this));" name="Food_Chinese" type="checkbox"
                                       id="checkbox">Chinese</input></li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item" ><input onclick="boxChecked($(this));" name="Food_Other" type="checkbox"
                                       id="checkbox">Other</input></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>